@page
@model IdentityService.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Từ chối truy cập</h1>
        <p>Bạn không có quyền truy cập</p>
    </div>
</div>