@page
@model IdentityService.Pages.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Challenge</h1>
</div>
</body>
</html>